/config.json
/go.work*
/quid
*_ORI
*_ORI.go
*.go.old

# Required for Heroku deployment
/ui/dist

/ui/node_modules
/ui/yarn.lock
/ui/tests/storage.state.json
/tests/storage.state.json

.DS_Store
/ui/.yarnrc
*.local
/dev
/ui/storybook-static
/ui/yarn-error.log
/ui/bin

# local env files
/ui/.env.local
/ui/.env.*.local

# Log files
/ui/npm-debug.log*
/ui/yarn-debug.log*
/ui/yarn-error.log*
/ui/pnpm-debug.log*

# Folders
_obj
_test
.project
.metadata

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Editor directories and files
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/code-coverage.out
