/config.json
/go.work*
/quid
*_ORI
*_ORI.go
*.go.old
/ui/dist
/ui/yarn.lock

# Folders
_obj
_test
.project
.metadata

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
