# This file teaches `git log` and friends the canonical names
# and email addresses to use for our contributors.
#
# For details on the format, see:
#   https://git-scm.com/docs/gitmailmap
#   https://git.github.io/htmldocs/gitmailmap.html
#
# Handy commands for examining or adding to this file:
#
#     git shortlog -esn
#
#     git shortlog -es | sort -k2
#
#     git log --format='%an <%ae>' --author=$NAME | sort | uniq -c
#
#     git log --format='%an <%ae>' --author=$NAME | sort -u

0uep <0uep@hessling.fr>
kahlys <youennlaborde@live.fr>
micheartin <micheartin@gmail.com>
O. Libre <olibre@Lmap.org>
synw <synwe@yahoo.com>
synw <synwe@yahoo.com> <synw@users.noreply.github.com>
synw <synwe@yahoo.com> <synwx@protonmail.com>
synw <synwe@yahoo.com> <synw@yahoo.com>
