@import "./_variables.scss";

.full-height-content-zone {
  min-height: calc(100vh - 58px);
}

.text-superlight {
    color: $super-light;
}

* {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    font-weight: 400;
  }
  
  body,
  html,
  .main,
  .vertical-center {
    width: 100%;
    height: 100%;
  }
  
  .vertical-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .inner-block {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all 0.3s;
  }

  .sidebar {
    background-color: lightskyblue;
  }